
	<div id="top"></div>

	<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="cont-slider">
					<img class="d-block w-100" src="img/slider.jpg" alt="slider" style="max-height: 200px; width: auto; object-fit: cover; filter: brightness(50%);">
					<h1 class="center-slider">Strona główna</h1>
				</div>
			</div>
		</div>
	</div>

	<div id="content">
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Buty</a></li>
				<li><a href="#tabs-2">Przegląd</a></li>
			</ul>
			<div id="tabs-1">

				<h1>    Buty biegowe... temat rzeka.</h1><p> Jest tyle modeli, że na pewno nikt nie trenował we wszystkich. I przed tą „klęską urodzaju” jest postawiony początkujący biegacz, który staje przed dylematem jakie buty wybrać. Może trochę uda mi się przybliżyć ten temat. Buty to najważniejszy sprzęt biegacza, to on przyjmuje na siebie największe obciążenia (poza samym biegaczem rzecz jasna :) i chroni nasze stawy przed konsekwencjami wielokrotnego uderzania o podłoże. Z doświadczenia wiem że na butach biegowych nie można za dużo oszczędzać, ale oczywiście też nie należy przesadzać. Nie potrzeba kupować od razu najwyższego modelu jaki ma dany producent w swojej ofercie, bo różniący się nieznacznie model zeszłoroczny może być nawet o połowę tańszy.</p>
				<h1>Jak dobrać but biegowy. </h1><p>Przede wszystkim musi być trochę większy. Podczas wysiłku stopa trochę puchnie i dlatego trzeba kupować buty o pół a i czasem numer większe. But musimy przymierzyć , nie polecam kupowania w internecie w „ciemno” przed przymierzeniem w sklepie. Teoretycznie rozmiarówka powinna być taka sama, ale każdy producent zawsze stosuje swoje standardy. Także rozmiar np. 44 może się różnić między dwoma modelami. 
				Następna rzecz, but musi być od razu wygodny i dobrze dopasowany. Nie można kupować buta, który uciska , gdzieś nam „nie podchodzi” licząc że podczas użytkowania się „rozbije” i będzie dobrze. Nie, nie będzie . Ta zasada ma zastosowanie do butów skórzanych, które z czasem układają się na nodze. But biegowy musi pasować od razu. Dlatego tak ważnie jest przymierzanie butów. Czasami trzeba przebrnąć przez kilka modeli różnych producentów aby stwierdzić że to ten.</p><p>
					Kolejna sprawa to NETUTAL, PRONACJA i SUPINACJA Co to za diabelstwo spytacie? 
					Jest to po prostu sposób w który stawiamy stopę. Zależy to od wielu czynników , między innymi od budowy kolan , stawu skokowego, które podczas biegu intensywnie pracują i wykonują ruchy rotacyjne. Nie jestem ortopedą więc się nie wymądrzam .Jak najprościej sprawdzić „kim” jesteśmy?. Bardzo prosto : trzeba zamoczyć stopę w wodzie i stanąć na starej gazecie ( polecana prasa codzienna bo ma najgorszy papier, który dobrze wchłania wodę ). Po tym zabiegu powinniście zobaczyć jeden z trzech wyników. 
					Różne są opinie na ten temat, nie wszyscy są przekonani czy to naprawdę ma przełożenie na to jakie buty kupować. Ja sam zaczynałem od neutralnych, by po przebadaniu się na bieżni biegać w butach dla pronatorów. Po kolejnym badaniu, tym razem skanerem stacjonarnym okazało się że powinienem biegać w neutralnych. I tak już pozostanie, bo nie mam zamiaru się więcej badać :). Myślę że pierwsze buty biegowe powinny być 
				NEUTRALNE.</p><p>
					I dochodzimy do w sumie ostatniego punktu czyli waga biegacza. Na pewno początkujący biegacz waży trochę więcej niż by chciał. Czasami nawet dużo więcej. Więc but musi mieć solidną amortyzację, abyśmy w krótkim czasie nie nabawili się kontuzji. Ja swoje pierwsze buty „zadeptałem” po 200 km. Nie miałem pojęcia że miały niewielką amortyzację. Kupiłem je bo na pudełku było napisane „do biegania” i podobały mi się. Dopiero później kiedy zacząłem trochę czytać, okazało się że kupiłem najbardziej podstawowy model, który w sumie miał podeszwę z pianki i tyle. Generalnie im cięższy biegacz tym większa amortyzacja. Kolana podziękują dłuższym czasem używalności :)
					A i jeszcze jedno.. Kiedy wymieniać buty biegowe?
				Oczywiście producenci chcieliby żebyśmy robili to jak najczęściej. Ale tak naprawdę nie ma złotego środka. Znowu jest to sprawa bardzo indywidualna. Pianka EVA z której zrobiona jest większość podeszw butów biegowych ma tendencję do „ubijania” się. Zaczyna być to wyraźnie czuć kiedy buty mają ponad 1400-1500 km. Mniej więcej po takim kilometrażu wypadało by przestać w tych butach trenować. Chyba że cholewka się przetrze szybciej i zaczną wychodzić palce....</p>
				
			</p>

		</div>
		<div id="tabs-2">Mały przegląd butów. Skupię się tutaj na najpopularniejszych markach dostępnych w naszym kraju. Nie będę tez opisywał poszczególnych modeli a jedynie zarysuje bazę butów, które moim zdaniem są godne polecenia. Zdjęć nie będzie , ale każdy bez trudu do nich dotrze. 
			Jedziemy alfabetycznie:
			<p>ADIDAS:</p>
			<ul>
				<li>seria Supernowa Glide (obecnie modele 6 i 7 typowy but treningowy)</li>
				<li>Energy Boost 2 (duża amortyzacja , bardzo wygodny)</li>
				<li>seria Supernova Sequence (dla pronatorów)</li>
				<li>seria Kanadia (but terenowy)</li>
			</ul>
			<p>ASICS</p>
			<ul>
				<li>seria Nimbus (but treningowy)</li>
				<li>seria Cumulus (but treningowy)</li>
				<li>seria Kayano (bardzo duża amortyzacja)</li>
				<li>seria GT (1000, 2000 dla pronatorów)</li>
			</ul>
			<p>BROOKS</p>
			<ul>
				<li>seria Gliceryn (bardzo duża amortyzacja)</li>
				<li>seria Ghost (but treningowy)</li>
				<li>Cascadia (but terenowy)</li>
			</ul>
			<p>NEW BALANCE
				<ul>
					<li>Zante (but treningowo - startowy)</li>
					<li>M1080 (duża amortyzacja)</li>
					<li>M980 (but treningowy)</li>
				</ul>
				<p>NIKE</p>
				<ul>
					<li>Pegasus (but treningowy)</li>
					<li>Lunarglide (but treningowy)</li>
					<li>Vomero (duża amortyzacja)</li>
				</ul>
				<p>SAUCONY</p>
				<ul>
					<li>Jazz (but treningowy)</li>
					<li> Triumph (but treningowy)</li>
					<li>Kinvara (but terenowy)</li>
				</ul>
				<p>MIZUNO</p>
				<ul>
					<li>Wave Rider (but treningowy)</li>
					<li>Wave Enigma (but treningowy)</li>
					<li>Wave Sayonara (but treningowo- startowy)</li>
				</ul>

			Tezy zawarte w artykule są subiektywnymi opiniami autora i jako takie nie podlegają dyskusji ;). Jednak mam nadzieję , że komuś choć trochę pomogłem . Dziękuję za uwagę.</div>
		</div>
	</div>

	<script>
		$( "#tabs" ).tabs();
		$( "#menu" ).menu();
	</script>
